@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&display=swap");

body {
  font-family: "DM Mono", monospace;
  color: white;
  background: #162036;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.f-right {
  float: right;
}

.green {
  color: green;
}

.light-green {
  color: #59ea38;
}

.red {
  color: red;
}

.card {
  border: 1px solid whitesmoke;
  border-radius: 5px;
  padding: 1em;
  margin: 10px 0;
}

.progress-circle--center {
  margin: auto;
  width: 100% !important;
}

.tabs--transparent.v-tabs > .v-tabs-bar,
.tabs--transparent.v-tabs-items,
.tabs--transparent .v-card {
  background-color: transparent;
}

.tabs--transparent.v-tabs > .v-tabs-bar .v-tab:not(.v-tab--active) {
  color: white;
}

.v-tab {
  font-size: 1.17em;
  font-weight: bold;
  text-transform: none;
}

.input--white.v-input input {
  color: white;
}

.input--white.v-text-field > .v-input__control > .v-input__slot:before,
.input--white.v-text-field:not(.v-input--has-state):hover
  > .v-input__control
  > .v-input__slot:before,
.v-text-field > .v-input__control > .v-input__slot:after {
  border-color: rgba(255, 255, 255, 0.32);
}

.input--white .v-label {
  color: rgba(255, 255, 255, 0.6);
}

th.text-start {
  text-align: left;
}

.v-chip.green {
  background: green !important;
  color: white;
}

.v-chip.red {
  background: red !important;
  color: white;
}

.v-application--wrap {
  min-height: 0px;
}
